
services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - app-network

  producer:
    build:
      context: .
      dockerfile: producer/Dockerfile
    restart: "no"
    depends_on:
      - redis
    networks:
      - app-network

  consumer:
    build:
      context: .
      dockerfile: consumer/Dockerfile
    restart: "no"
    depends_on:
      - redis
      - producer
    networks:
      - app-network

  analytics-api:
    build:
      context: .
      dockerfile: analytics-api/Dockerfile
    restart: "no"
    depends_on:
      - redis
      - producer
      - consumer
    networks:
      - app-network
  mongo-express:
    image: mongo-express:1.0.2
    restart: unless-stopped
    ports:
      - "18081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_ENABLE_LOGIN: "false"
      ME_CONFIG_BASICAUTH: "false"
    depends_on:
      - mongo
    networks:
      - app-network


  redisinsight:
    image: redis/redisinsight:latest
    restart: unless-stopped
    ports:
      - "5540:5540"
    depends_on:
      - redis
    networks:
      - app-network

volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge
